<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>湖工大在线报名系统</title>
    <meta name="description" content="欢迎你的加入">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-vcentered">
              <div class="column">
                <p class="title">
                  湖工大在线报名系统
                </p>
                <br />
                <p class="subtitle">
                  欢迎你的加入
                </p>
              </div>
            </div>
          </div>
        </div>

        </section>
    <section class="section is-medium">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-6">
            
              <div class="tile is-parent">
                <article class="tile is-child is-primary">
                    <div class="notification is-primary">
                        报名成功
                    </div>
                </article>
              </div>
            
          </div>
        </div>
      </div>
    </section>
     <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
          <br />
            <h2>あい。</h2>
            <p>
              © 2017 湖工大在线
            </p>

          </div>
        </div>
      </footer>
  </body>
</html>